.poll-form 			{
	margin-bottom:30px; 
	background:#EEE;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	border-radius: 6px;
}
.question-group 	{
	margin-bottom:20px;
	background:#EEE;
	padding:20px;
}
.question-group label 	{
	font-size:18px;
}